@import './base.css';

#app {

}

a,
.green {
  text-decoration: none;
  color: hsl(33, 100%, 49%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(33, 70%, 49%, 0.5);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
